    @font-face {
        font-family: 'Croc';
        src: url('../fonts/Croc-Light__W/Croc-Light__W.eot');
        src:
            url('../fonts/Croc-Light__W/Croc-Light__W.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Croc-Light__W/Croc-Light__W.woff2') format('woff2'),
            url('../fonts/Croc-Light__W/Croc-Light__W.woff') format('woff'),
            url('../fonts/Croc-Light__W/Croc-Light__W.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Croc';
        src: url('../fonts/Croc-Bold__W/Croc-Bold__W.eot');
        src:
            url('../fonts/Croc-Bold__W/Croc-Bold__W.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Croc-Bold__W/Croc-Bold__W.woff2') format('woff2'),
            url('../fonts/Croc-Bold__W/Croc-Bold__W.woff') format('woff'),
            url('../fonts/Croc-Bold__W/Croc-Bold__W.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Croc';
        src: url('./../fonts/Croc-Regular__W//Croc-Regular__W.eot');
        src:
            url('../fonts/Croc-Regular__W/Croc-Regular__W.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Croc-Regular__W/Croc-Regular__W.woff2') format('woff2'),
            url('../fonts/Croc-Regular__W/Croc-Regular__W.woff') format('woff'),
            url('../fonts/Croc-Regular__W/Croc-Regular__W.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    * {
        box-sizing: border-box;
        font-family: Croc;
    }

    body {
        /* margin: 0; */
        /* padding: 0; */
    }